---
const { products } = Astro.props

const categoryCounts: { [key: string]: number } = {};

products.forEach((product: {category: string}) => {
    const category = product.category;
    categoryCounts[category] = (categoryCounts[category] || 0) + 1;
})

const categoryColors: { [key: string]: string } = {
    smartphones: 'bg-blue-100 text-blue-800', 
    groceries: 'bg-red-100 text-green-800',
    laptops: 'bg-green-100 text-green-800',
    fragrances: 'bg-purple-100 text-green-800',
    homedecoration: 'bg-yellow-100 text-green-800',
    skincare: 'bg-pink-100 text-green-800'
};

const categories = Object.keys(categoryCounts)

---

<ul class="grid grid-cols-3 sm:grid-cols-4 mt-2 gap-2">
    {categories.map(category => (   
        <li class={`${categoryColors[category]} font-semibold text-xs sm:text-sm me-2 px-auto pl-1 py-0.5 rounded-full`}>{category}: {categoryCounts[category]}</li>
    ))}
</ul>