---
import GitHubIcon from "./icons/GitHubIcon.astro";
---

<footer class="flex flex-col items-center justify-center w-full py-2 mt-9">    
    <div class="border-t-2 border-neutral-300 w-full">
        <div class="flex flex-row gap-2 items-center justify-center">
            <span class="flex justify-center items-center mt-3 font-semibold text-black opacity-70">© 2024 -<a href="https://github.com/pegedev0" target="_blank" class="ml-1">pegedev0</a></span>
            <a href="https://github.com/pegedev0" target="_blank"><GitHubIcon class="size-6 mt-2" /></a>
        </div>
    </div>
</footer>
