---
import { Image } from "astro:assets"
import noResultsImage from "/public/noResults.webp"
---

<Image 
    class="pt-10 mx-auto"
    src={noResultsImage} 
    alt="Truck Bazar Universal" 
    width={400} 
    height={400} 
/>

<h3 class="text-red-700 text-3xl font-bold flex justify-center items-center">Sin resultados</h3>